extends layout

block main
  h2 Add Flight
  form(action="/flights" method="POST")
    fieldset(class="controls-1")
      dl(class="departureCode right-padding")
        dt
          label(for="departureCode") Departure Airport
        dd
          input(type="text" name="departureCode" id="departureCode" value=departureCode)
      dl(class="desitnationCode left-padding")
        dt
          label(for="destinationCode") Destination Airport
        dd
          input(type="text" name="destinationCode" id="destinationCode" value=destinationCode)
    fieldset(class="controls-2")
      dl(class="airline right-padding")
        dt
          label(for="airline") Airline
        dd
          input(type="text" name="airline" id="airline" value=airline)
      dl(class="flightNumber both-padding")
        dt
          label(for="flightNumber") Flight Number
        dd
          input(type="text" name="flightNumber" id="flightNumber" value=flightNumber)
      dl(class="flightTime left-padding")
        dt
          label(for="flightTime") Flight Time
        dd
          input(type="datetime" name="flightTime" id="flightTime" value=flightTime)
    fieldset(class="buttons")
      a(href="/") Go back
      input(type="submit" value="Add Flight")
